.register {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;

  h1 {
    color: $blueberry;
    margin-top: 2rem;
  }

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .success {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
}
