//colors:
$off-black: #222;
$off-white: #f0f0f0;

$dark-grey: #808080;
$mid-grey: #cccccc;
$light-grey: #d9d9d9;

$vanilla: #fffff0;
$waffle: #f7ca7f;
$blueberry: #4e86f7;
$chocolate: #7b3f00;
$strawberry: #fc5a8d;

// measures
$xx-small: 0.5rem;
$x-small: 1rem;
$small: 1.5rem;
$medium: 2.5rem;
$large: 4rem;
$x-large: 6rem;
$xx-large: 8rem;

$mobile-cutoff: 65rem;
$tablet-cutoff: 76rem;
$desktop-cutoff: 90rem;
