//colors:
$off-black: #333;
$off-white: #f0f0f0;

$dark-grey: #808080;
$mid-grey: #cccccc;
$light-grey: #d9d9d9;

$orange: #e66d65;
$yellow: #dae67c;
$light-blue: #4e99e6;

// measures
$xx-small: 0.5rem;
$x-small: 1rem;
$small: 1.5rem;
$medium: 2.5rem;
$large: 4rem;
$x-large: 6rem;
$xx-large: 8rem;

$mobile-cutoff: 65rem;
$tablet-cutoff: 76rem;
$desktop-cutoff: 90rem;
